<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/todo.css">
</head>
<body>
    <header>
        <h1 class="rainbow">things to do...</h1>
    </header>
    <!-- make some animation for header section -->
    <main>
        <div id="container">
            <input type="text" class="add-task" id="add" placeholder="Add a task.." data-helloWorld="adsjhu">
            <br>
            <span id="total-tasks">Total tasks: <span id="tasks-counter"> 0</span></span>
            <ul id="list" class="rain">
            </ul>
        </div>
    </main>


    <script src="/js/todo.js"></script>
    <script type="text/javascript">
        todolistapp.initialize(); 
    </script>
</body>
</html>